##### Windows
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp
*.exe
*.json

# Windows shortcuts
*.lnk
Report/Report.aux
Report/Report.bbl
Report/Report.blg
Report/Report.log
Report/Report.out
Report/Report.synctex.gz
Report/Report.toc
Project/Prime Numbers/.vscode/tasks.json
Project/Prime Numbers/.vscode/launch.json
Project/PI/.vscode/tasks.json
Project/PI/.vscode/launch.json
Project/Matrix Multiplication/Parallel/.vscode/tasks.json
Project/Matrix Multiplication/Parallel/.vscode/launch.json
Project/Fibonacci/.vscode/tasks.json
Project/Fibonacci/.vscode/launch.json
Introduction to OpenMP/.vscode/tasks.json
Introduction to OpenMP/.vscode/launch.json
Exs/Week 6/.vscode/tasks.json
Exs/Week 6/.vscode/launch.json
